Repository mybatis/mybatis-3, pull requests merged in 2022-05, with the labels that each got.

#2527 Add some translations in java-api.xml
  src/site/zh/xdoc/java-api.xml
Labels: documentation, doc-zh

#2544 update the logging.xml in zh doc
  src/site/zh/xdoc/logging.xml
Labels: documentation, doc-zh

#2545 update the configuration.xml in zh doc
  src/site/zh/xdoc/configuration.xml
Labels: documentation, doc-zh

#2556 [Polish] Fix method name typo
  src/test/java/org/apache/ibatis/reflection/ReflectorTest.java
Labels: polishing

#2559 update java-api.xml in zh doc
  src/site/zh/xdoc/java-api.xml
Labels: documentation, doc-zh

#2553 [Doc] Update document
  src/site/es/xdoc/configuration.xml
  src/site/ja/xdoc/configuration.xml
  src/site/ko/xdoc/configuration.xml
  src/site/xdoc/configuration.xml
  src/site/zh/xdoc/configuration.xml
Labels: documentation, waiting for feedback
